:root {
    --rose: rgb(229, 153, 183);
    --salmon: rgb(255, 166, 147);
    --raspberry:rgb(182, 70, 95);
    --green-black: rgb(22, 37, 33);
    --charcoal: rgb(96, 115, 121);
    --periwinkle: rgb(144, 151, 192); 
    --white: rgb(255, 255, 255);

    
}

.bg-light {
    background-color: var(--charcoal) !important;
}

.btn-success {
    color: var(--white);
    background-color: var(--raspberry);
    border-color: var(--raspberry);
}

.btn-success:hover {
    color: var(--white);
    background-color: var(--salmon);
    border-color: var(--green-black);
}


.btn-outline-success {
    color: var(--white);
    border-color: var(--white); 
}

.btn-outline-success:hover {
    color: var(--white);
    background-color: var(--rose);
    border-color: var(--white);
}

